[submodule "externals/lager"]
	path = externals/lager
	url = https://github.com/ltjax/lager.git
	branch = windows-build
[submodule "externals/variant"]
	path = externals/variant
	url = https://github.com/mpark/variant.git
